In [1]:
import pandas as pd

df = pd.read_csv("train.csv")

In [2]:
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
16   LP001034    Male      No          1  Not Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
23   LP001050     NaN     Yes          2  Not Graduate            No
24   LP001052    Male     Yes          1      Graduate           NaN
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
29   LP001087  Female      No          2      Graduate           NaN
..        ...     ...     ...        ...           ...           ...
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
588  LP002925     NaN      No          0      Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
592  LP002933     NaN      No         3+      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
605  LP002960    Male     Yes          0  Not Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
11              2500             1840.0       109.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
16              3596                0.0       100.0             240.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               NaN
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
23              3365             1917.0       112.0             360.0
24              3717             2925.0       151.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
29              3750             2083.0       120.0             360.0
..               ...                ...         ...               ...
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
588             4750                0.0        94.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
592             9357                0.0       292.0             360.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
597             2987                0.0        88.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
605             2400             3800.0         NaN             180.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
11              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
16              NaN         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
19              1.0         Urban           Y
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
23              0.0         Rural           N
24              NaN     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
29              1.0     Semiurban           Y
..              ...           ...         ...
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
588             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
592             1.0     Semiurban           Y
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
597             0.0     Semiurban           N
598             1.0         Rural           Y
599             1.0         Urban           Y
600             NaN         Urban           N
601             1.0         Rural           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
605             1.0         Urban           N
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [8]:
df.drop(['Dependents'], axis=1) #drop the column

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [9]:
df.drop([0, 1])   #drop the rows

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [17]:
df.columns[0]  #displays 1st column name

'Loan_ID'

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")
print(df.replace(np.NaN,0))
#df['DataFrame Column'] = df['DataFrame Column'].replace(np.nan, 0)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
11   LP001027    Male     Yes          2      Graduate             0
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
16   LP001034    Male      No          1  Not Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate             0
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
23   LP001050       0     Yes          2  Not Graduate            No
24   LP001052    Male     Yes          1      Graduate             0
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
29   LP001087  Female      No          2      Graduate             0
..        ...     ...     ...        ...           ...           ...
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
588  LP002925       0      No          0      Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
592  LP002933       0      No         3+      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
597  LP002943    Male      No          0      Graduate            No
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
600  LP002949  Female      No         3+      Graduate             0
601  LP002950    Male     Yes          0  Not Graduate             0
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
605  LP002960    Male     Yes          0  Not Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         0.0             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
11              2500             1840.0       109.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
16              3596                0.0       100.0             240.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               0.0
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
23              3365             1917.0       112.0             360.0
24              3717             2925.0       151.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
29              3750             2083.0       120.0             360.0
..               ...                ...         ...               ...
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
588             4750                0.0        94.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
592             9357                0.0       292.0             360.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
597             2987                0.0        88.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
605             2400             3800.0         0.0             180.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
11              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
16              0.0         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
19              1.0         Urban           Y
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
23              0.0         Rural           N
24              0.0     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
29              1.0     Semiurban           Y
..              ...           ...         ...
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
588             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
592             1.0     Semiurban           Y
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
597             0.0     Semiurban           N
598             1.0         Rural           Y
599             1.0         Urban           Y
600             0.0         Urban           N
601             1.0         Rural           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
605             1.0         Urban           N
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [41]:
print ("NaN replaced with '0':")
print( df.fillna(method='pad'))

NaN replaced with '0':
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
31   LP001095    Male      No          0      Graduate            No
32   LP001097    Male      No          1      Graduate           Yes
33   LP001098    Male     Yes          0      Graduate            No
34   LP001100    Male      No         3+      Graduate            No
37   LP001112  Female     Yes          0      Graduate            No
38   LP001114    Male      No          0      Graduate            No
39   LP001116    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
575  LP002868    Male     Yes          2      Graduate            No
577  LP002874    Male      No          0      Graduate            No
578  LP002877    Male     Yes          1      Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
581  LP002893    Male      No          0      Graduate            No
582  LP002894  Female     Yes          0      Graduate            No
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
31              3167                0.0        74.0             360.0
32              4692                0.0       106.0             360.0
33              3500             1667.0       114.0             360.0
34             12500             3000.0       320.0             360.0
37              3667             1459.0       144.0             360.0
38              4166             7210.0       184.0             360.0
39              3748             1668.0       110.0             360.0
..               ...                ...         ...               ...
575             3159              461.0       108.0              84.0
577             3229             2739.0       110.0             360.0
578             1782             2232.0       107.0             360.0
580             6540                0.0       205.0             360.0
581             1836            33837.0        90.0             360.0
582             3166                0.0        36.0             360.0
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
31              1.0         Urban           N
32              1.0         Rural           N
33              1.0     Semiurban           Y
34              1.0         Rural           N
37              1.0     Semiurban           Y
38              1.0         Urban           Y
39              1.0     Semiurban           Y
..              ...           ...         ...
575             1.0         Urban           Y
577             1.0         Urban           Y
578             1.0         Rural           Y
580             1.0     Semiurban           Y
581             1.0         Urban           N
582             1.0     Semiurban           Y
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
598             1.0         Rural           Y
599             1.0         Urban           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[480 rows x 13 columns]

In [28]:
print (df['Loan_ID'].isnull())

1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
12     False
13     False
14     False
15     False
17     False
18     False
20     False
21     False
22     False
25     False
26     False
27     False
28     False
31     False
32     False
33     False
34     False
37     False
38     False
39     False
       ...
575    False
577    False
578    False
580    False
581    False
582    False
584    False
585    False
586    False
587    False
589    False
590    False
591    False
593    False
594    False
595    False
596    False
598    False
599    False
602    False
603    False
604    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
Name: Loan_ID, dtype: bool

In [30]:
print (df['Dependents'].notnull())

1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
12     True
13     True
14     True
15     True
17     True
18     True
20     True
21     True
22     True
25     True
26     True
27     True
28     True
31     True
32     True
33     True
34     True
37     True
38     True
39     True
       ...
575    True
577    True
578    True
580    True
581    True
582    True
584    True
585    True
586    True
587    True
589    True
590    True
591    True
593    True
594    True
595    True
596    True
598    True
599    True
602    True
603    True
604    True
606    True
607    True
608    True
609    True
610    True
611    True
612    True
613    True
Name: Dependents, dtype: bool

In [31]:
print( df['Self_Employed'].isnull())

1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
12     False
13     False
14     False
15     False
17     False
18     False
20     False
21     False
22     False
25     False
26     False
27     False
28     False
31     False
32     False
33     False
34     False
37     False
38     False
39     False
       ...
575    False
577    False
578    False
580    False
581    False
582    False
584    False
585    False
586    False
587    False
589    False
590    False
591    False
593    False
594    False
595    False
596    False
598    False
599    False
602    False
603    False
604    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
Name: Self_Employed, dtype: bool

In [33]:
print(df)
print ("NaN replaced with '0':")
print( df.fillna(0))

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
31   LP001095    Male      No          0      Graduate            No
32   LP001097    Male      No          1      Graduate           Yes
33   LP001098    Male     Yes          0      Graduate            No
34   LP001100    Male      No         3+      Graduate            No
37   LP001112  Female     Yes          0      Graduate            No
38   LP001114    Male      No          0      Graduate            No
39   LP001116    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
575  LP002868    Male     Yes          2      Graduate            No
577  LP002874    Male      No          0      Graduate            No
578  LP002877    Male     Yes          1      Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
581  LP002893    Male      No          0      Graduate            No
582  LP002894  Female     Yes          0      Graduate            No
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
31              3167                0.0        74.0             360.0
32              4692                0.0       106.0             360.0
33              3500             1667.0       114.0             360.0
34             12500             3000.0       320.0             360.0
37              3667             1459.0       144.0             360.0
38              4166             7210.0       184.0             360.0
39              3748             1668.0       110.0             360.0
..               ...                ...         ...               ...
575             3159              461.0       108.0              84.0
577             3229             2739.0       110.0             360.0
578             1782             2232.0       107.0             360.0
580             6540                0.0       205.0             360.0
581             1836            33837.0        90.0             360.0
582             3166                0.0        36.0             360.0
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
31              1.0         Urban           N
32              1.0         Rural           N
33              1.0     Semiurban           Y
34              1.0         Rural           N
37              1.0     Semiurban           Y
38              1.0         Urban           Y
39              1.0     Semiurban           Y
..              ...           ...         ...
575             1.0         Urban           Y
577             1.0         Urban           Y
578             1.0         Rural           Y
580             1.0     Semiurban           Y
581             1.0         Urban           N
582             1.0     Semiurban           Y
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
598             1.0         Rural           Y
599             1.0         Urban           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[480 rows x 13 columns]
NaN replaced with '0':
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
31   LP001095    Male      No          0      Graduate            No
32   LP001097    Male      No          1      Graduate           Yes
33   LP001098    Male     Yes          0      Graduate            No
34   LP001100    Male      No         3+      Graduate            No
37   LP001112  Female     Yes          0      Graduate            No
38   LP001114    Male      No          0      Graduate            No
39   LP001116    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
575  LP002868    Male     Yes          2      Graduate            No
577  LP002874    Male      No          0      Graduate            No
578  LP002877    Male     Yes          1      Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
581  LP002893    Male      No          0      Graduate            No
582  LP002894  Female     Yes          0      Graduate            No
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
31              3167                0.0        74.0             360.0
32              4692                0.0       106.0             360.0
33              3500             1667.0       114.0             360.0
34             12500             3000.0       320.0             360.0
37              3667             1459.0       144.0             360.0
38              4166             7210.0       184.0             360.0
39              3748             1668.0       110.0             360.0
..               ...                ...         ...               ...
575             3159              461.0       108.0              84.0
577             3229             2739.0       110.0             360.0
578             1782             2232.0       107.0             360.0
580             6540                0.0       205.0             360.0
581             1836            33837.0        90.0             360.0
582             3166                0.0        36.0             360.0
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0

In [25]:
df = df.dropna() #drops rows with null values

In [26]:
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
31   LP001095    Male      No          0      Graduate            No
32   LP001097    Male      No          1      Graduate           Yes
33   LP001098    Male     Yes          0      Graduate            No
34   LP001100    Male      No         3+      Graduate            No
37   LP001112  Female     Yes          0      Graduate            No
38   LP001114    Male      No          0      Graduate            No
39   LP001116    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
575  LP002868    Male     Yes          2      Graduate            No
577  LP002874    Male      No          0      Graduate            No
578  LP002877    Male     Yes          1      Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
581  LP002893    Male      No          0      Graduate            No
582  LP002894  Female     Yes          0      Graduate            No
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
31              3167                0.0        74.0             360.0
32              4692                0.0       106.0             360.0
33              3500             1667.0       114.0             360.0
34             12500             3000.0       320.0             360.0
37              3667             1459.0       144.0             360.0
38              4166             7210.0       184.0             360.0
39              3748             1668.0       110.0             360.0
..               ...                ...         ...               ...
575             3159              461.0       108.0              84.0
577             3229             2739.0       110.0             360.0
578             1782             2232.0       107.0             360.0
580             6540                0.0       205.0             360.0
581             1836            33837.0        90.0             360.0
582             3166                0.0        36.0             360.0
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
31              1.0         Urban           N
32              1.0         Rural           N
33              1.0     Semiurban           Y
34              1.0         Rural           N
37              1.0     Semiurban           Y
38              1.0         Urban           Y
39              1.0     Semiurban           Y
..              ...           ...         ...
575             1.0         Urban           Y
577             1.0         Urban           Y
578             1.0         Rural           Y
580             1.0     Semiurban           Y
581             1.0         Urban           N
582             1.0     Semiurban           Y
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
598             1.0         Rural           Y
599             1.0         Urban           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[480 rows x 13 columns]

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:

to_drop = ['Gender','Married']
#df.drop(columns=to_drop, inplace=True)
df.drop(to_drop, inplace=True, axis=1)

In [4]:
df.head()

,Loan_ID,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [17]:
df.shape

(614, 13)

In [18]:
df.count()

Loan_ID              614
Gender               601
Married              611
Dependents           599
Education            614
Self_Employed        582
ApplicantIncome      614
CoapplicantIncome    614
LoanAmount           592
Loan_Amount_Term     600
Credit_History       564
Property_Area        614
Loan_Status          614
dtype: int64

In [25]:
df.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,True,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,True,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,False,False,False,False,False,False,False,False,False,False,False,False,False
585,False,False,False,False,False,False,False,False,False,False,False,False,False
586,False,False,False,False,False,False,False,False,False,False,False,False,False
587,False,False,False,False,False,False,False,False,False,False,False,False,False
588,False,True,False,False,False,False,False,False,False,False,False,False,False
589,False,False,False,False,False,False,False,False,False,False,False,False,False
590,False,False,False,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,False,False,False,False,False,False,False,False
592,False,True,False,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,False,False,False,False,False,False,False,False
594,False,False,False,False,False,False,False,False,False,False,False,False,False
595,False,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,True,False,False,False,False,False,False,False,False,False
598,False,False,False,False,False,False,False,False,False,False,False,False,False
599,False,False,False,False,False,False,False,False,False,False,False,False,False
600,False,False,False,False,False,True,False,False,False,False,True,False,False
601,False,False,False,False,False,True,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,True,False,False,False,False
606,False,False,False,False,False,False,False,False,False,False,False,False,False
607,False,False,False,False,False,False,False,False,False,False,False,False,False
608,False,False,False,False,False,False,False,False,False,False,False,False,False
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
missing_values=df.isnull()

In [27]:
missing_values.dtypes

Loan_ID              bool
Gender               bool
Married              bool
Dependents           bool
Education            bool
Self_Employed        bool
ApplicantIncome      bool
CoapplicantIncome    bool
LoanAmount           bool
Loan_Amount_Term     bool
Credit_History       bool
Property_Area        bool
Loan_Status          bool
dtype: object

In [28]:
no_missing_values=missing_values.sum()

In [29]:
missing_values.sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [30]:
len(df)

614

In [31]:
no_missing_values/len(df)

Loan_ID              0.000000
Gender               0.021173
Married              0.004886
Dependents           0.024430
Education            0.000000
Self_Employed        0.052117
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.035831
Loan_Amount_Term     0.022801
Credit_History       0.081433
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [32]:
no_missing_values/len(df)*100

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [33]:
df.isnull().mean().round(4) * 100

Loan_ID              0.00
Gender               2.12
Married              0.49
Dependents           2.44
Education            0.00
Self_Employed        5.21
ApplicantIncome      0.00
CoapplicantIncome    0.00
LoanAmount           3.58
Loan_Amount_Term     2.28
Credit_History       8.14
Property_Area        0.00
Loan_Status          0.00
dtype: float64

In [1]:
#https://towardsdatascience.com/data-cleaning-in-python-the-ultimate-guide-2020-c63b88bf0a0d

In [ ]:
#https://medium.com/dunder-data/finding-the-percentage-of-missing-values-in-a-pandas-dataframe-a04fa00f84ab